<div class="container">
  <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>&nbsp;|
  <a [routerLink]="['/category']" routerLinkActive="router-link-active"
    >Category</a
  >&nbsp;|
  <a [routerLink]="['/workout']" routerLinkActive="router-link-active"
    >Workout</a
  >&nbsp;|
  <a [routerLink]="['/schedule']" routerLinkActive="router-link-active"
    >Schedule</a
  >&nbsp;|
  <a [routerLink]="['/exercise']" routerLinkActive="router-link-active"
    >Exercise</a
  >&nbsp;|
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>


