<!-- Start Main Top -->
<header class="main-header">
  <!-- Start Navigation -->
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav"
  >
    <div class="container">
      <!-- Start Header Navigation -->
      <div class="navbar-header">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar-menu"
          aria-controls="navbars-rs-food"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/"
          ><img src="asset('shop/images/logo.png')" class="logo" alt=""
        /></a>
      </div>
      <!-- End Header Navigation -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul
          class="nav navbar-nav ml-auto"
          data-in="fadeInDown"
          data-out="fadeOutUp"
        >
          <li class="nav-item">
            <a class="nav-link" id="home" href="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="about" href="">Giới Thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="menu" href="">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="promotion" href="">Tin Tức</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact" href="">Liên hệ</a>
          </li>
        </ul>
      </div>

      <!-- /.navbar-collapse -->

      <!-- Start Atribute Navigation -->
      <div class="attr-nav">
        <ul>
          <li class="search">
            <a id="search" href="#"><i class="fa fa-search"></i></a>
          </li>
          <li class="side-menu">
            <a href="javascript:" id="cart">
              <i class="fa fa-shopping-bag"></i>

              <span id="total-quantity-show" class="badge"></span>

              <span id="total-quantity-show" class="badge"></span>
              <p>Giỏ hàng</p>
            </a>
          </li>
        </ul>
      </div>
      <!-- End Atribute Navigation -->
    </div>
    <script type="text/javascript">
      if (window.location.href.includes("/aboutus")) {
        var about = document.getElementById("about");
        about.classList.add("active-menu");
      } else if (window.location.href.includes("/menu")) {
        var menu = document.getElementById("menu");
        menu.classList.add("active-menu");
      } else if (window.location.href.includes("/blog")) {
        var blog = document.getElementById("promotion");
        blog.classList.add("active-menu");
      } else if (window.location.href.includes("/contactus")) {
        var contact = document.getElementById("contact");
        contact.classList.add("active-menu");
      } else if (window.location.href.includes("/detail")) {
        var home = document.getElementById("home");
        home.classList.remove("active-menu");
      } else if (window.location.href.includes("/searchHeader")) {
        var home = document.getElementById("search");
        home.classList.add("active-menu");
      } else if (window.location.href.includes("/cart")) {
        var cart = document.getElementById("cart");
        cart.classList.add("active-menu");
      } else if (window.location.href.includes("/")) {
        var home = document.getElementById("home");
        home.classList.add("active-menu");
      }
    </script>
    <!-- Start Mini Cart Menu -->
    <div class="side">
      <a href="#" class="close-side"><i class="fa fa-times"></i></a>
      <li class="cart-box" id="cart-item-change">
        <ul class="cart-list">
          <li>
            <h6></h6>
            <p>
              x -
              <span class="price">đ</span>
            </p>
          </li>
          <li>
            <span class="float-right"><strong>Tổng</strong>đ</span>
            <input hidden id="total-quantity-cart" type="number" value="" />
          </li>
        </ul>
        @endif
        <ul class="cart-list">
          <li class="total">
            <a href="" class="btn btn-default hvr-hover btn-cart">GIỎ HÀNG</a>
          </li>
        </ul>
      </li>
    </div>
    <!-- End Mini Cart Menu -->
  </nav>
  <!-- End Navigation -->
</header>
<!-- End Main Top -->
