<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="staffs"
    keyExpr="staffId"
    [showBorders]="true"
    [hoverStateEnabled]="true"
    (onRowInserted)="onCreate($event)"
    (onRowUpdated)="onUpdate($event)"
  >
    <dxo-header-filter [visible]="true"> </dxo-header-filter>

    <dxo-filter-panel [visible]="true"> </dxo-filter-panel>

    <dxo-filter-row [visible]="true"> </dxo-filter-row>

    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true">
      <dxo-popup
        title="Staff Information"
        [showTitle]="true"
        [width]="700"
        [height]="525"
      >
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="firstName" caption="First Name"></dxi-item>
          <dxi-item dataField="lastName" caption="Last Name"></dxi-item>
          <dxi-item dataField="phone" caption="Phone"></dxi-item>
          <dxi-item dataField="email" caption="Email"></dxi-item>
        </dxi-item>

        <dxi-item
          itemType="group"
          caption="Store Information"
          [colCount]="2"
          [colSpan]="2"
        >
          <dxi-item dataField="storeId" caption="Store">
            <dxo-lookup
              [dataSource]="stores"
              displayExpr="storeName"
              valueExpr="storeId"
            >
            </dxo-lookup>
          </dxi-item>
          <dxi-item dataField="active"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="firstName"></dxi-column>
    <dxi-column dataField="lastName"></dxi-column>
    <dxi-column dataField="email"> </dxi-column>
    <dxi-column dataField="phone"> </dxi-column>
    <dxi-column dataField="storeId" caption="Store">
      <dxo-lookup
        [dataSource]="stores"
        displayExpr="storeName"
        valueExpr="storeId"
      >
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="active" caption="Status"> </dxi-column>
  </dx-data-grid>
</div>
